/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2015, 7:02:48 PM
    Author     : niteen
*/
// to hide title of slider

h3.uris-slider-title{
    display: none;
}
.col-xs-12,.wrapper-about-us .col-xs-9{
    min-width: 250px;
}

.vibe-bg{
    
   // background-color: gainsboro;
    width: 60%;
}

.vibe-bg-blue{
    background-color: white;//#006699;
}

.sales-form-div{
    background-color: gainsboro;
    padding-top: 20px;
    margin-top: 20px;
    min-width: 300px;
    
}
#sales-main{
    padding-left: 0px;
    background-color: gainsboro;
    margin-top: 20px;
    min-width: 300px;
    height: auto;
    margin-left: 15px;
}
.col-xs-5{
    background-color: gainsboro;
    
}
.phone ,.cemail{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.phone img,.cemail img{
    position: relative;
    left:40%;
    padding-top:100px;
    //background-color: gray;
}
.email-span,.phone-span{
     position: relative;
   top:10px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 0.9em;
    
}
.email-span{
     left:30%;
     text-decoration: underline;
     color: blue;
}
.phone-span{
     left:30%;
     color: black;
}
// style for about us 

.app-name{
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-pic{
    position: relative;
    border-radius: 50%;
    min-width: 140px;
    min-height: 140px;
}
.photo{
     min-width: 140px;
    min-height: 140px;
}

.person-info{
    padding-top: 20px;
}
.person-info .name{
    //padding-top: 30px;
    //text-align: center;
    min-width: 200px;
}
.Discription{
    position: relative;
    min-width: 160px;
    font-size: 13px;
    text-height: font-size; 
}

.remove-padding,.wrapper-about-us .box, wrapper-about-us{
    padding-left: 0px;
}

.sidebar{
    position: relative;
    min-width: 250px;
}
.side-header{
    //background-color: gainsboro;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    padding-top: 1px;
    margin-top: 20px;
    border-bottom: 2px solid #13078C;
 }
 
.side-header h2{
 font-size: 18px;
 text-height: font-size;
}

    
.box{
    margin-top: 20px;
}
.company-address{
    //font-size: smaller;
}
.addressLocality,.postalCode, .streetAddress,.openingHours{
    font-size: 13px;;
    text-height: font-size;
    
}
.page-details,.page-head h2{
    font-size: 17px;
    text-height: font-size;
}
.page-head h3{
     font-size: 15px;
    text-height: font-size;
    font-weight: bold;
}
.page-details{
    
}

//style for career  page
div.career-header.page-head{
    margin-top: 50px;
    min-width: 300px;
}
.content-text{
    margin-top: 15px;
    min-width: 200px;
}



.job-description{
    position: relative;
    min-width: 250px;
    font-style: italic;
}

.job-header{
    width: 100%;
    background-color: gainsboro;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    min-width: 250px;
}
.job-header > img{
    position: relative;
    top:-10px;
    left: -10px;
    border: 2px solid gainsboro;
}
.job-header > i{
    float: right;
}


.image-container{
    min-width: 300px;
    margin-left: 15px;
}

.career-form{
    min-width:250px;
}

nav{
    height: 100%;
    margin-top: 20px;
}

ul.no-style{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="text"]:focus{
    border:2px solid #999;
}

///mobile development styles

.mobdev-img{
    height: 204px;
    width: 204px;
    margin-left: 40%;
}
.mobdev-head{
    min-width: 200px;
}

.mobdev-description{
    min-width:250px;
}
.mobdev-android{
    border-color: gainsboro;
      min-width: 250px;
}

.mobdev-iphone{
    border-color: gainsboro;
    min-width: 250px;
    
}

.mobdev-win{
    border-color: gainsboro;
    min-width: 250px;
}
.margin-top{
    margin-top: 50px;
  
}
.div-icon{
    width: 100px;
    height: 100px;
   // background: red;
    border-radius: 50%;
    //border: 2px solid black;
    margin-left: 36%;
}

// style for management team page
div.social-link{
    padding-left: 30%;
    width:50%;
}

//for footer menu
ul.menu{
    color: lightskyblue;
}


p{
    font-size: 14px;
    font-family: "Lato",sans-serif !important;
}

#Job_opening_div
{
	background-color:#EC971F;
	color:#fff;
	font-family: "Lato",sans-serif !important;
	

}

#Job_opening_inner_div
{
padding:32px;

}

.btn{
    padding-left: 0px;
}
#job_content
{

margin-left:32px;
padding-top: 25px;
}


.skill_header
{
margin-left:-12px;

}

.btn-danget:hover {
  style:btn-default;
}

#inputform
{
  display:block;
}


.bannerbox_img {
    width: 100%;
    height: 300px;
    text-align: center;
}


/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}


/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #17191A;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.bannerbox_img
{
background: url('/wp-content/uploads/2015/12/Vibeosys-careers-banner.png');
position:relative;

}

.bannerBg
{   
background: url('/wp-content/uploads/2015/12/bannerBg.png');
position:relative;

top:66%;
height:30%;
color:#FFF;
text-align:left;
padding-left:30px;



}

.centerBox
{
opacity:1;
}
